<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Franklin Jhoel Patiño Chimbo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum inventore, voluptatibus similique perspiciatis minima aliquid sint iusto. Deserunt libero numquam quia nam quaerat neque, repellat, nihil, obcaecati suscipit architecto voluptatum!</p>
  </div>
  
</ion-content>
